body
{
   height:100%;
   max-height:100%;
   overflow:auto;
   position: absolute;
   top: 0;
   left: 0;
   padding:0;
   margin:0;
   border:0;

   font-family: Helvetica, clean, sans-serif;
   font-size: 11pt;
   background-color: #fff;
}

.header 
{ 
  float: top;
  margin: 10px;
  padding-left: 10px;
  background-color: #ccc;
  border: 1px solid #999;
  height: 50px;
  width: 1160px;
  }

.headerleft 
{ 
  margin-top: 13px;
  font-size: 22pt;
  padding-left: 25px;
  float: left;
  }

.headerright 
{ 
  vertical-align: bottom;
  font-size: 10pt;
  font-style: italic;
  float: right;
  padding-right: 8px;
  padding-top: 30px;
  }

.headerimg 
{ 
  float: left;
  width: 180px; 
  overflow: hidden;
  vertical-align: middle;  
  }

.headerimg img 
{
  width: 100%;
  }

.main
{
   position: fixed;
   top: 70px;
   bottom: 30px;
}

.main-printable
{
  height: 100%;
}

.footer
{
  position: absolute;
  bottom: 0;
  clear:both;
  font-size: 80%;
  font-style: italic;
  color: #666;
  border-top: 1px solid #bbb;
  text-align:center;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 1172px;
  }

.navbar
{
  clear: left;
  float: left;
  display: block;
  width: 250px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  overflow: auto;
  height: 100%;
  font-size: 95%;
  border: 1px solid #999;
  }

.toc, .links
{
  background-color: #ccc;
  color: #000;
  margin-left: 0em;
  margin-right: 0px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  }

.toc a, .links a
{
  color: #000;
  }

.toctitle
{ 
  font-family: Helvetica, clean, sans-serif;
  font-weight: bold;
  padding-left:0.5em;
  color: #000;
  }

.toc > p, .links > p
{ 
  padding-left:0;
  }

.toc > ul, 
.toc > ul > li > ul,
.toc > ul > li > ul > li > ul,
.toc > ul > li > ul > li > ul > li > ul,
.links > ul,
.links > ul > li> ul,
.links > ul > li > ul > li > ul
{
  font-size: 95%;
  list-style: disc;
  padding-left: 1.5em;
  }


.content
{
  border: 1px solid #bbb;
  position: absolute;
  left: 270px;
  margin-right:5px;
  padding-top:0px;
  padding-right:5px;
  width: 905px;
  height: 100%;
  
  background-color: #ffffff;
  overflow: auto;
  }

.content-printable
{
  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
  padding-top:0;
  max-width: 950px;
  background-color: #ffffff;
}

h1, h2, h3, h4, span.h4, h5, span.h5
{
  color: #111111;
  font-weight: 400;
  padding-left: 0.5em;
  padding-top: 0.4em;
  margin-bottom: 0.3em;
  }

h1
{
  font-size: 170%;
  background-color: #ddd;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  }

.break
{
  page-break-before: always;
}

h2
{
  font-size: 150%;
  font-weight: bold;

  margin: 24px 0 6px;
  
  border-top: 1px solid #aaa;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  margin-bottom: 0.3em;
  }

h3
{
  font-size: 130%;
  font-weight: bold;
  border-top: 1px solid #ccc;
  padding-bottom: 0.2em;
  }

h4, span.h4
{
  font-size: 120%;
  font-weight: bold;
  }

span.h4, span.h5
{
  display: block;
  clear: both;
}

h5, span.h5
{
  font-size: 110%;
  }

p
{
  margin-top: 0px;
  margin-left: 20px;
  padding-right: 2em;
  }
a
{
  /*color: #0099ff;*/
  color: #FF8040;

  margin: 0;
  padding: 0;
  vertical-align: baseline;
  }
a:hover
{
  text-decoration: none;
  color: #ff6600;
  }

dt
{ 
  font-size: 105%;
  font-weight: bold;
  padding-left: 0.5em;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  }

li
{
  line-height: 140%;
  }


pre
{
  margin-left: 20px;
  padding: 0px 24px;
  white-space: pre-wrap;
  font-size: 85%;

  background-color: #ebebff;
  border: 1px dashed #a95;
  overflow: auto;
  padding: 6px 10px;
  }

code
{
  font-family: Consolas, Monaco, Andale Mono, monospace;
  font-size: 90%;
  line-height: 1.5;
  }

table.paramtable 
{
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  margin-left: 20px;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
  }

table.paramtable col.paramtable-propname
{
    width: 20%;
}

table.paramtable col.paramtable-proptype
{
    width: 12%;
}

table.paramtable col.paramtable-description
{
    width: 38%;
}

table.paramtable col.paramtable-notes
{
    width: 30%;
}

table.paramtable th 
{
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
  }

table.paramtable td 
{
  border-width: 1px;
  padding: 4px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
  }

pre.restschema
{ 
  margin-left: 10px;
  background-color: #ffd;
 }

span.restschema-type, a.restschema-type

{ 
  color: #070;
  font-style: italic;
 }

span.restschema-property
{ 
  color: #009;
  }

span.restschema-indent
{
    padding-left: 1em;
}

span.restschema-basename
{ 
  color: #666;
  font-style: italic;
  }

span.xmlschema-type, a.xmlschema-type
{ 
  color: #070;
  font-style: italic;
 }

span.xmlschema-attribute
{ 
  color: #099;
  }

span.xmlschema-element
{ 
  color: #009;
  }

span.content-attribute
{
  font-family: Consolas, Monaco, Andale Mono, monospace;
}

.tabContainer
{
  margin-left: 20px;
  }

.tabContainer .digiTabs
{
  list-style:none;
  display:block;
  overflow:hidden;
  margin:0;
  padding:0px;
  position:relative;
  top:1px;
  }
.tabContainer .digiTabs li
{
  float:left;
  background-color:#fff;
  border:1px solid #e1e1e1;
  padding:5px!important;
  cursor:pointer;
  border-bottom:1px solid #e1e1e1;
  margin-right:10px;
  font-family:verdana;
  font-size:.8em;
  font-weight:bold;
  color:#bbb;
  }
.tabContainer .digiTabs .selected
{
  background-color:#fff;
  color:#393939;
  border-bottom:1px solid #fff;
  }

.tabContent
{
  padding-right:10px;
  background-color:#fff;
  overflow:hidden;
  float:left;
  margin-bottom:10px;
  border:1px solid #e1e1e1;
  width:850px;
  }
